# 参考网址 https://docs.python.org/2/distutils/sourcedist.html#the-manifest-in-template

# include all files matching any of the listed patterns
include dependence/requirements.txt
include README.md
include LICENSE

# exclude all files matching any of the listed patterns
exclude MANIFEST.in Dockerfile

#recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]